 .body{
    margin:0;
 }
 
 
  /* Make the image to responsive */
 
  
  /* The overlay effect (full height and width) - lays on top of the container and over the image */
  
  /* When you mouse over the container, the overlay text will "zoom" in display */
  
  
  /* Some text inside the overlay, which is positioned in the middle vertically and horizontally */
  .text {
    color: rgb(155, 188, 208);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .container2 {
    position: relative;
    width: 50%;
  }
  
  /* Make the image to responsive */
  .image {
    width: 100%;
    height: auto;
  }
  
  /* The overlay effect (full height and width) - lays on top of the container and over the image */
   
 .placeholder{
   
    
        font-family: cursive;
        font-size: 55;
        font-weight: bold;
        color: rgb(70, 86, 98);
    
 }
 .placeholder2{
    background-color:aqua;
 }
 .portfolio-items-wrapper{
  display: flex;
  justify-content: center;
  margin-top: 20px; 
    /*display:grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;*/
   
 }
 .portfolio-items-wrapper img {
  margin-right: 0; /* Remove default margin between images */
}
 
 .img{
    float: left;
    width:  100px;
    height: 100px;
    object-fit: cover;

 }
 .portfolio-img-background{
    height:350px;
    width:100;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }
 
